/config/common/private.yaml
/experiments
/.snakemake
__pycache__
*.egg-info
*.DS_Store

workspaces**
user**
outputs**
test_results**
vicreg**
dummydata**
plots**
**job_output**
curtains2**
IGNORE**
lit/
**concept**